@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.servicesGreetingContainer {
    position: relative;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 108px 0 108px 146px;
    z-index: 1;
    max-width: fit-content;
}

.title {
    @include h2;
    color: $primary-color;
}

.description {
    @include title_large;
    color: $light-gray-color;
}

@media (min-width: 360px) and (max-width: 768px) {

    .servicesGreetingContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 60px 30px 60px 30px;
    }
}