@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.navbarWrapper {
    display: flex;
    gap: 54px;
}

.navbarItem {
    @include misc_nav;
    color: $white-color;
}

.link {
    color: $white-color;
}

.link:hover {
    color: $primary-color;
    transition: 0.3s;
}