@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.servicesIntroContainer {
    padding: 109px 0 159px 0;
    background-color: $white-color;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // gap: 72px;
    // position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.topContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin: 0 343px;
}

.topTitle {
    @include title_small;
    color: $primary-color;
}

.topDescription {
    @include h5;
    color: $headers-color;
    text-align: center;
}

.botContainer {
    display: flex;
    justify-content: center;
    gap: 260px;
    position: absolute;
    top: 234px;
    z-index: 5;
}

.leftSubContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.botLeftTitle {
    @include h1;
    color: $primary-color;
    text-align: center;
}

.botLeftDescription {
    @include title_small;
    color: $white-color;
    text-align: center;
}

.midSubContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.botMidTitle {
    @include h1;
    color: $secondary-100-color;
    text-align: center;
}

.botMidDescription {
    @include title_small;
    color: $white-color;
    text-align: center;
}
.rightSubContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.botRightTitle {
    @include h1;
    color: $tetriary-color;
    text-align: center
}

.botRightDescription {
    @include title_small;
    color: $white-color;
    text-align: center;
}

@media (min-width: 360px) and (max-width: 1244px) {
    .botContainer {
        gap: 60px;
        top: 264px;
    }
}

@media (min-width: 360px) and (max-width: 1124px) {
    .botContainer {
        gap: 60px;
        top: 296px;
    }
}

@media (min-width: 360px) and (max-width: 1052px) {
    .botContainer {
        gap: 60px;
        top: 326px;
    }
}

@media (min-width: 360px) and (max-width: 1024px) {
    .topContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        margin: 0 30px;
    }

    .botContainer {
        gap: 60px;
        top: 210px;
    }
}

@media (min-width: 360px) and (max-width: 906px) {
    .botContainer {
        gap: 60px;
        top: 236px;
    }
}

@media (min-width: 360px) and (max-width: 618px) {
    .botContainer {
        flex-direction: column;
        gap: 60px;
        top: 266px;
    }
}

@media (min-width: 360px) and (max-width: 500px) {
    .botContainer {
        gap: 60px;
        top: 296px;
    }
}

@media (min-width: 360px) and (max-width: 500px) {
    .botContainer {
        gap: 60px;
        top: 326px;
    }
}