//fonts
$font-mplus: var(--font-mplus);
$font-noticia: var(--font-noticia);

//bg-colors
$main-background-color: #FCFCFC;

//colors
$primary-color: #F61067;
$secondary-100-color: #5E239D;
$secondary-200-color: #3A0475;
$secondary-300-color: #30124E;
$secondary-400-color: #150433;
$tetriary-color: #00F0B5;
$tetriary-light-color: #6DECAF;
$white-color: #FCFCFC;
$light-gray-color: #F4F4ED;
$error-color: #F0002B;
$success-color: #10F65E;
$warning-color: #F67110;
$info-color: #00A8F0;

//text-colors
$headers-color: #30233D;
$main-text-color: #776C82;
$grey-text-color: #9B94A3;