@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.aboutUsTestimonialsContainer {
    padding: 576px 147px 0 147px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    position: relative;
}

.backImage {
    position: absolute;
    top: 126px;
}

.frontImage {
    position: absolute;
    z-index: 1;
    top: 0;
}

.apostropheImage {
    position: absolute;
    z-index: 2;
    top: 428.34px;
}

.topContainer {
    display: flex;
    gap: 158px;
    align-items: center;
}

.topTextContainer {
    display: flex;
    justify-content: center;
}

.topText {
    @include quote_large;
    color: $headers-color;
    max-width: fit-content;
    text-align: center;
}

.arrowLeftContainer {
    width: 36px;
    height: 36px;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    border-radius: 100px;
}

.arrowRightContainer {
    width: 36px;
    height: 36px;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: $primary-color;
    border-radius: 100px;
}

.botText {
    @include text_regularBold;
    color: $primary-color;
}

.dash {
    @include text_regularBold;
    color: $headers-color;
}

.textCompany {
    @include text_regular;
    color: $headers-color;
}

@media (min-width: 360px) and (max-width: 1440px) {
    .frontImage {
        position: absolute;
        z-index: 1;
        top: -126px;
    }
}

@media (min-width: 360px) and (max-width: 1024px) {
    .aboutUsTestimonialsContainer {
        padding: 340px 30px 60px 30px;
    }

    .frontImage {
        top: 0px;
        width: 300px;
        height: 300px;
    }

    .apostropheImage {
        top: 276.34px;
        width: 52.25px;
        height: 49.73px;
    }

    .backImage {
        top: 42px;
        width: 768px;
    }
}

@media (min-width: 360px) and (max-width: 768px) {
    .aboutUsTestimonialsContainer {
        padding: 340px 30px 60px 30px;
    }

    .backImage {
        top: 142px;
        width: 560px;
        height: 260px;
    }

    .topContainer {
        gap: 30px;
    }
}

@media (min-width: 360px) and (max-width: 500px) {
    .backImage {
        top: 162px;
        width: 360px;
        height: 260px;
    }
}