@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.navbarWrapper {
    display: flex;
    gap: 54px;
}

.navbarItem {
    @include misc_nav;
    color: $headers-color;
}

.link {
    color: $headers-color;
}