@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.aboutUsIntroContainer {
    padding: 109px 0 113px 147px;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.topContainer {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-right: 539px;
}

.topTitle {
    @include title_small;
    color: $primary-color;
}

.topDescription {
    @include h5;
    color: $headers-color;
}

.botContainer {
    display: flex;
    gap: 128px;
    padding-right: 245px;
}

.leftSubContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.botLeftTitle {
    @include h6;
    color: $headers-color;
}

.botLeftDescription {
    @include text_regular;
    color: $main-text-color
}

.rightSubContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.botRightTitle {
    @include h6;
    color: $headers-color;
}

.botRightDescription {
    @include text_regular;
    color: $main-text-color
}

@media (min-width: 360px) and (max-width: 1439px) {
    .topContainer {
        padding-right: 239px;
    }

    .botContainer {
        padding-right: 145px;
    }
}

@media (min-width: 360px) and (max-width: 1024px) {
    .aboutUsIntroContainer{
        padding: 30px 30px 100px 30px;
    }

    .topContainer {
        padding-right: 0;
    }

    .botContainer {
        padding-right: 0;
    }
}

@media (min-width: 360px) and (max-width: 768px) {
    .botContainer {
        flex-direction: column;
        gap: 30px;
    }
}